

/*** Typography ***/
$font: 

$display-font-size: 64px;
$display-font-weight: 200;

$h1-font-size: 48px;
$h1-font-weight: 800;

$h2-font-size: 36px;
$h2-font-weight: 500;

$h3-font-size: 30px;
$h3-font-weight: 400;

$h4-font-size: 24px;
$h4-font-weight: 800;

$h5-font-size: 24px;
$h5-font-weight: 600;

$h6-font-size: 20px;
$h6-font-weight: 500;

$h6-alt-heading-font-size: 18px;
$h6-alt-heading-font-weight: 700;

$p-font-size: 16px;
$p-font-weight: 400;

$p-medium-font-size: 14px;
$p-medium-font-weight: 400;

$p-small-font-size: 12px;
$p-small-font-weight: 400;

$p-smallest-font-size: 10px;
$p-smallest-font-weight: 400;

